// Import CoreUI styles
@import '~@coreui/coreui-pro/scss/coreui.scss';

.c-app {
  --primary: #53a1a3;
  color: #000000;
  background-color: #a3c3c6;
}

.card,
.card-header {
  background-color: #e7eeef;
}

.form-control,
label {
  font-weight: bold;
}

.botao-copiar,
.botao-copiar-todos {
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  padding: 3px;
  width: max-content;
}

.botao-copiar-todos-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.botao-copiar-copiado {
  background-color: #a3c3c6;
}

.botao-copiar-nao-copiado {
  background-color: #53a1a3;
}
